<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgapeaNETCORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       <div class=" container">
           <div class="row">
               <div class="col-3">
                   <!--Imagen agapea mini-->
               </div>
               <div class="col-6">
                   <!--Barra de buscador-->
               </div>
               <div class="col-3">
                   <!--Carrito y login-->
               </div>
           </div>
       </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <!---treeview de materiales
                    hay que pintarlo a partir de las materias que me de la BD que sean padre (raiz id = 0);
                    -->
            </div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <hr />
            <p>
                <br />
                <img alt="Premio Empresa Responsable con la Infancia 2017" title="Premio Empresa Responsable con la Infancia 2017" style="float:right; width: 3%;" src="~/images/Premio.jpg">
                <div style="text-align: center">
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Aviso Legal</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Condiciones de contratación</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a rel="nofollow" id="linkNotaLegal" class="" href="www.google.es">Política de Privacidad y Cookies</a>
                </div>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>





