/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-family: Verdana, Geneva, sans-serif;
}
h1 {
    font-size: 25px;
}
h2 {
    padding: 15px;
}/*
.divBotones {
    width: 100%;
    padding: 25px 10px 10px;
    display: inline-block;
    margin: auto;
    height: 100%;
}*/
.oBien {
    color: grey;
    text-align: center;
    padding: 30px;
}/*
.botones {
    width: 40%;
    color: #fff;
    padding: 7px 10px;
    padding-right: 130px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 15px 35px;
    transition-duration: 0.4s;
}*/
.botonF {
    width: 80%;
    padding: 10px;
    margin: 15px;
    background-color: rgb(136, 165, 224);
    color: white;
    border: 2px solid rgb(136, 165, 224);
}
.botonF:hover {
    background-color: white;
    color: rgb(136, 165, 224);
    border: 2px solid rgb(136, 165, 224); 
}
.botonG {
    width: 80%;
    padding: 10px;
    margin: 15px;
    background-color: rgb(218, 100, 56);
    color: white;
    border: 2px solid rgb(218, 100, 56);
}
    .botonG:hover {
        background-color: white;
        color: rgb(218, 100, 56);
        border: 2px solid rgb(218, 100, 56);
    }
.botonregistro {
    background-color: rgb(20, 40, 200);
    color: white;
    border: 2px solid rgb(20, 40, 200);
}

    .botonregistro:hover {
        background-color: white;
        color: rgb(20, 40, 200);
        border: 2px solid rgb(20, 40, 200);
    }
.contenedorPrincipal {
    position: relative;
    width: 100%;
    box-shadow: rgb(204, 204, 204) 0px 0px 3px 3px;
    border-radius: 10px;
    border-style: groove;
    border-color: #d4d4d4;
    border-width: 1px;
}
#color {
    color: #b93c2f;
}
#face {
    font-size: 40px;
    padding-right: 50px;
    font-weight: bold;
}
#gog {
    font-size: 40px;
    padding-right: 50px;
}
.nombres{
    font-weight: bold;
}
.cajita{
    margin-bottom: 10px;
    margin-top: 10px;
}


